<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#" >الوقع الرسمي لعائلة حمشو</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="showCollapseMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':showCollapseMenuVar}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"  >الصفحة الرئيسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  >شخصيات مهمة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  >من نحن؟</a>
      </li>
    </ul>
    <div style="flex: auto;"></div>
    <form matForm class="form-inline my-2 my-lg-0">
      <input  class="form-control mr-sm-2" type="search" placeholder="البحث" aria-label="البحث" >
      <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit" color="primary"  >البحث</button>
    </form>
  </div>
</nav>
