<!DOCTYPE html>
<html lang="en" dir="rtl">

<body style="overflow-x: hidden;text-align: center;align-items: center;background-color: #777e85;">
  <app-bar></app-bar>
  <br>
  <img src="assets/mainpic.png" alt=""
    style="width: 50%;height: 20%;opacity: 0.9;text-align: center;align-items: center;">
  <hr>
  <h1>
    الشخصيات المهمة</h1>
  <hr>
  <person-profile></person-profile>
  <br>
  <br>
  <hr>
  <test1> </test1>
  <br>
  <br>
  <hr>
  <test></test>
  <br>
  <test></test>
  <br>
  <test></test>
  <br>
  <br>
  <br>
  <contact-us></contact-us>
</body>

</html>
